@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: rgb(237 29 36);
  --color-secondary: rgb(38 33 99);
  --color-tertiary: rgb(38 33 99);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
  
  --container-padding: 1rem;
  --container-max-width: 1200px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
.hero-cards-container .rounded-full{ 
  width: 85px !important;
  height: 85px !important;
}
.hero-cards-container img{ 
  width: 85px !important;
  height: 85px !important;
} 
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-slideInRight {
  animation: slideInRight 0.7s ease-out;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
 

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-plus-jakarta-sans), Arial, Helvetica, sans-serif;
}

.other-campaing .img-box{
  height: 190px !important;
}

.other-campaing h3{
  font-size: 20px !important;
  margin-bottom: 16px !important;
}

.blog-detail-content p{
  font-size: 16px !important;
  line-height: 24px !important;
  color: #223140 ; 
}

.blog-detail-content h2{
  font-size: 28px !important;   
  color: #223140 ; 
}

.blog-detail-content h3{
  font-size: 24px !important; 
  color: #223140 ; 

}

.blog-detail-content h4{
  font-size: 20px !important;
  color: #223140 ; 
}

.product-page a{
  padding: 20px 10px !important;
}